body{
    background-color: gray;
}

#ctitle{
    background-color: crimson;
    border: solid black 5px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
}

#cusmenu{
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

#menu {
    border-radius: 10px;
    border: solid 4px black;
    background-color: lightslategray;
    width: 300px;
    height: 100px;
    font-size: 30px;
    margin: auto;
}